import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

body
	font-family Merel
	font-size 22px
	line-height 1.3
	color backplate

import('../blocks/**/*')

