include ../container/container

mixin intro(data)
	- data = data || {}

	+b('section')#intro.intro&attributes(attributes)(style='background-image: url(./images/main-hero.jpg)')
		+container
			+e('span').title= data.title
