.double-images
	&__content
		display flex
		flex-direction column
		align-items center

		@media tablet
			flex-direction row
			justify-content space-between
			align-items flex-start

		@media desktop
			padding-x 'calc(60px + %s)' % img-side-margin

	&__image
		width 100%
		height auto

		@media tablet
			width 'calc((100% - %s) / 2)' % column-gap_tablet

		@media desktop
			width 'calc((100% - %s) / 2)' % column-gap_desktop

		&:first-child
			margin-bottom 68px

			@media tablet
				margin-bottom 0

	&_on-top_first &__image:last-child
		@media tablet
			margin-top 105px

	&_on-top_second &__image:first-child
		@media tablet
			margin-top 105px

