@font-face
	font-family 'Merel'
	src url('../../fonts/Merel.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Merel'
	src url('../../fonts/MerelBold.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'Merel'
	src url('../../fonts/MerelBlack.woff') format('woff')
	font-weight 900
	font-style normal

@font-face
	font-family 'Merel'
	src url('../../fonts/MerelLight.woff') format('woff')
	font-weight 200
	font-style normal

@font-face
	font-family 'Merel'
	src url('../../fonts/MerelThin.woff') format('woff')
	font-weight 300
	font-style normal

@font-face
	font-family 'Merel'
	src url('../../fonts/MerelMedium.woff') format('woff')
	font-weight 500
	font-style normal
