/* colors */
backplate = #414141

/* transitions */
trDur = .2s
trFunc = linear

/* fonts */
Merel = 'Merel', 'Arial', sans-serif

/* media */
tablet = 'screen and (min-width: 918px)'
desktop = 'screen and (min-width: 1545px)'
desktop-large = 'screen and (min-width: 1970px)'
retina = 'screen and (min-resolution: 192dpi)'
// tabletRetina = 'screen and (min-resolution: 192dpi) and (max-width: 1239px)'
// mobileRetina = 'screen and (min-resolution: 192dpi) and (max-width: 767px)'
