/* colors */
backplate = #414141
brown = #aa9068

/* transitions */
trDur = .5s

/* fonts */
Merel = 'Merel', 'Arial', sans-serif

/* media */
tablet = 'screen and (min-width: 918px)'
desktop = 'screen and (min-width: 1545px)'
desktop-large = 'screen and (min-width: 1970px)'
retina = 'screen and (min-resolution: 192dpi)'
ie11 = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'
