include ../../container/container

mixin single-text({title})
	+b('section').single-text&attributes(attributes)
		+container
			+e('h2').title.inner-page__title= title
			+e('p').text.inner-page__text
				block
