.inner-page
	position relative
	padding-top 76px

	@media tablet
		padding-top 208px

	&__main-title
		margin-top 22px
		margin-bottom 30px
		font-size 32px
		font-weight bold
		line-height 1.2
		text-decoration underline
		text-transform uppercase

		@media tablet
			display none

	&__title
		margin-bottom 14px
		font-size 24px
		font-weight bold

		@media tablet
			margin-bottom 16px
			font-size 30px

		@media desktop
			margin-bottom 28px
			font-size 50px

	&__text
		font-size 20px

		@media tablet
			font-size 24px
			line-height 1.2

		@media desktop
			font-size 34px
			line-height 1.25

	& section
		margin-bottom 68px

		@media tablet
			margin-bottom 120px
