include ../intro/intro
include ../container/container
include ../content-blocks/image-text/image-text
include ../content-blocks/single-text/single-text
include ../content-blocks/double-text/double-text
include ../content-blocks/single-image/single-image
include ../content-blocks/double-images/double-images
include ../content-blocks/filled-info/filled-info

mixin inner-page(data)
	- data = data || {}

	+b.inner-page&attributes(attributes)
		+container
			+e('h1').main-title Детские<br>проекты

		+image-text({title: 'Варианты и эскизы', imgPosition: 'left'})
			| Перед тем как сделать изделие или проект мы разрабатываем все
			| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
			| средства в новое оборудование, следим за порядком в мастерской,
			| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.

		+image-text({title: 'Другой заголовок', imgPosition: 'right'})
			| Перед тем как сделать изделие или проект мы разрабатываем все
			| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
			| средства в новое оборудование, следим за порядком в мастерской,
			| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.

		+single-text({title: 'Идеи, творчество и простые решения'})
			| Перед тем как сделать изделие или проект мы разрабатываем все
			| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
			| средства в новое оборудование, следим за порядком в мастерской,
			| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.

		+double-text({title1: 'Описание проекта', title2: 'Акцент на главном'})
			| Перед тем как сделать изделие или проект мы разрабатываем все
			| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
			| средства в новое оборудование, следим за порядком в мастерской,
			| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.

		+double-images({alt1: 'alt', alt2: 'alt2', onTop: 'first'})

		+filled-info({name: 'Яна Кляйн.', job: 'Дизайнер', link: 'Klein@gmail.com', alt: 'some alt'})
			| Перед тем как сделать изделие или проект мы разрабатываем все
			| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
			| средства в новое оборудование, следим за порядком в мастерской,
			| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.

		+single-image({alt: 'some alt'})

		+double-images({alt1: 'alt', alt2: 'alt2', onTop: 'second'})
