include ../header/header
include ../footer/footer
include ../intro/intro
include ../container/container

mixin work({title, href, img})
	+e.work
		+e('a').work-link(href=href)
			+e('img').work-img(src=`./images/${img}.jpg` alt=title width='270' height='270')
			+e.work-title= title

mixin main-page(data)
	- data = data || {}

	+b.main-page&attributes(attributes)
		+header({title: 'Распродажа летней коллекции'})

		+intro({title: 'Дизайн и производство'})

		main
			+container
				+e.text-wrapper
					+e('p').text
						| Перед тем как сделать изделие или проект мы разрабатываем все
						| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
						| средства в новое оборудование, следим за порядком в мастерской,
						| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.
					+e('p').text
						| Перед тем как сделать изделие или проект мы разрабатываем все
						| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
						| средства в новое оборудование, следим за порядком в мастерской,
						| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.

				+e('h2').title Идеи, творчество и решения

				+e.text-wrapper
					+e('p').text
						| Перед тем как сделать изделие или проект мы разрабатываем все
						| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
						| средства в новое оборудование, следим за порядком в мастерской,
						| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.
					+e('p').text
						| Перед тем как сделать изделие или проект мы разрабатываем все
						| необходимые чертежи, делаем экспериментальную модель. Мы вкладываем
						| средства в новое оборудование, следим за порядком в мастерской,
						| боремся с пылью и всегда заворачиваем изделия в стрейч-плёнку.

				+e.works-wrapper
					+work({title: 'Декор для сети магазинов "Радуга"', href: jv0, img: 1})
					+work({title: 'Декор для сети магазинов "Радуга"', href: jv0, img: 2})
					+work({title: 'Декор для сети магазинов "Радуга"', href: jv0, img: 3})
					+work({title: 'Декор для сети магазинов "Радуга"', href: jv0, img: 4})

		+footer
