include ../header/header
include ../intro/intro

mixin main-page(data)
	- data = data || {}

	+b.main-page&attributes(attributes)
		+header({title: 'Распродажа летней коллекции'})

		main
			+intro({title: 'Дизайн и производство'})
