.main-page
	display block

	&__text-wrapper
		margin-top 32px
		margin-bottom 50px
		display flex
		flex-direction column

		@media tablet
			margin-top 78px
			margin-bottom 96px
			flex-direction row
			justify-content space-between

	&__text
		width 100%
		font-size 23px

		@media tablet
			width calc((100% - 60px) / 2)
			font-size 32px // TODO

		@media desktop
			width calc((100% - 80px) / 2)
			font-size 56px

		&:first-child
			margin-bottom 30px

			@media tablet
				margin-bottom 0

	&__title
		margin-top 50px
		margin-bottom 32px
		font-size 22px
		font-weight bold
		text-transform uppercase

		@media tablet
			margin-top 96px
			margin-bottom 50px
			font-size 48px
			text-align center

		@media desktop
			font-size 76px
