.double-text
	&__content
		display flex
		flex-direction column

		@media tablet
			flex-direction row
			justify-content space-between

	&__wrapper
		width 100%

		@media tablet
			width 'calc((100% - %s) / 2)' % column-gap_tablet

		@media desktop
			width 'calc((100% - %s) / 2)' % column-gap_desktop

		&:first-child
			margin-bottom 50px

			@media tablet
				margin-bottom 0
