.header
	position fixed
	z-index 5
	top 0
	left 0
	width 100vw
	color white
	background-color transparent
	transform translateY(-100%)
	transition transform .5s, color trDur, background-color trDur
	will-change color, background-color

	@media ie11
		transform none

	&_cross-intro
		color backplate
		background-color white

	&_fixed
		transform none

	&_on-top
		position absolute
		transform none

	&_menu-open
		color white
		background-color backplate
		transform none

	&__content
		display flex
		align-items center
		height 76px

		@media tablet
			height 138px

	&__menu-wrapper
		position fixed
		top 76px
		right 0
		left 0
		bottom 0
		visibility hidden
		overflow auto
		width 100%
		background-color transparent

		.header_menu-open &
			visibility visible
			background-color backplate

		@media tablet
			top 138px

	&__link
		display flex
		align-items center
		margin-right auto
		color inherit

	&__logo
		width 218px
		height 66px

		@media tablet
			width 336px
			height 98px

	&__title
		margin-right 34px
		display none
		max-width 280px
		font-size 24px
		text-transform uppercase
		text-decoration underline

		@media tablet
			display block

	&__toggler
		z-index 2
		color white
		background-color transparent
		border none
		transition color trDur

		.header_cross-intro &
			color backplate

		.header_on-top &
			color white

		.header_menu-open &
			color brown

	&__burger
		size 34px

		.header_menu-open &
			display none

		@media tablet
			size 44px

	&__close
		display none
		size 34px

		.header_menu-open &
			display block

		@media tablet
			size 44px

	&__burger,
	&__close
		position relative // ie11 fix

