include ../container/container
include ../menu/menu
include ../icon/icon

mixin header(data)
	- data = data || {}

	+b('header').header._fixed&attributes(attributes)
		+container.header__content
			+e('a').link(href='/main.html')
				+icon('logo').logo(width='100%' height='100%')
			+e('span').title= data.title
			+e('button').toggler.js-menu-toggler(type='button')
				+icon('burger').burger(width='100%' height='100%')
				+icon('close').close(width='100%' height='100%')

			+e.menu-wrapper
				+menu(getData('pages.json'))
