.image-left
	display flex
	flex-direction column

	@media tablet
		flex-direction row

	&__image
		margin-bottom 12px
		flex-shrink 0

		@media tablet
			margin-bottom 0
			size 380px

		@media desktop
			size 550px

	&__text-wrapper
		width 100%

		@media tablet
			margin-top 58px
			margin-left 40px

		@media desktop
			margin-left 80px
